*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548678;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    gap: 1.5vmin;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    justify-content: center;
    align-items: center;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.674) ;
    font-size: 8vmin;
    color: red;
    background-color: #ffffc7;
}

#reset{
    padding: 1rem;
    font-size: .8rem; 
    background-color: rgb(0, 0, 0);
    color: wheat;
    border: none;
    border-radius: 1rem;

}
#new-btn{
    padding: 1rem;
    font-size: .8rem; 
    background-color: rgb(0, 0, 0);
    color: wheat;
    border: none;
    border-radius: 1rem;

}
#meg{
    color:#ffffc7;
    font-size: 8vmin;

}
.mes-con{
    height: 30vmin;
}
.hide{
    opacity: 0;
}
